.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #0364a5;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: stretch;
}

.active {
  border-bottom: 5px solid rgb(226, 226, 226);
  background-color: #308bc7;
}

@media only screen and (max-width: 767px) {
  .navLinks {
    display: flex;
    justify-content: flex-start;
    min-width: 100;
    align-items: stretch;
  }
}
