.Heading {
  border-bottom: 2px solid #dedede;
  font-size: 2.5rem;
}

.Root {
  margin: auto;
  display: inline-block;
  max-width: 600px;
  min-width: 300px;
}
.Content {
  padding: 5px;
  font-size: 1rem;
}

.TopDataContainer * {
  vertical-align: top;
}

.DataContainer * {
  vertical-align: top;
  margin-top: 20px;
}

.NumberArea {
  width: 100%;
  cursor: not-allowed;
  opacity: 0.8 !important;
}

.NonceArea {
  width: 100%;
  cursor: not-allowed;
  opacity: 0.8 !important;
}

.TextArea {
  margin-left: 10px;
  width: 82%;
}

.PrevHashArea {
  width: 100%;
  cursor: not-allowed;
  opacity: 0.8 !important;
}

.HashArea {
  width: 100%;
  cursor: not-allowed;
  opacity: 0.8 !important;
}

.Label {
  display: inline-block;
  font-size: 1.2rem;
}

.Mine {
  margin: 15px 0px 0px 0px !important;
  padding: 10px 30px 10px 30px !important;
}
