* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Century Gothic, CenturyGothic, AppleGothic,
    sans-serif;
}

.ui.card:last-child {
  margin: 1em 7px !important;
}

.ui.card:first-child {
  margin: 1em 7px !important;
}
